/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
}

/********* Header ***********/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo {
    width: 61.09px;
    height: 19px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.menu {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu a {
    text-decoration-line: none;
    color: black;
}

.hebergements-link {
    padding-top: 16px;
    margin-right: 69px;
}

.activites-link {
    padding-top: 16px;
    margin-right: 0.31px;
}

.text-link-color:hover {
    color: #0065FC;
}

.hebergements-link:hover {                     
    border-top: solid 2px #0065FC;
    cursor: pointer;
}

.activites-link:hover {
    color: #0065FC;
    border-top: solid 2px #0065FC;
    cursor: pointer;
}

/***************************/
/*******Formulaire**********/

.research-bar {
    width: 377px;
    height: 49px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    border: none;
    margin-bottom: 50px;
}

[class="fas fa-map-marker-alt"] {
    width: 50px;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
    position: relative;
}

[class="fas fa-map-marker-alt"]::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.text-area {
    width: 195px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: black;
}

.research-button {
    width: 132px;
    border: none;
    border-right: 15px;
    background-color: #0065FC;
    color: white;
    font-size: 18px;
    font-weight: 700;
    border-radius: 0 15px 15px 0;
}
/**********Filtres du formulaire**********/

.bar-filters {
    display: flex;
    padding: 0;
    gap: 30px;
    width: 758px;
    height: 50px;
    margin-bottom: 32.5px;
}

.filters-title {
    display: flex;
    align-items: center;
    width: 54px;
    font-size: 18px;
    font-weight: 700;
    border: none;
}

.filter-buttons {
    display: flex;
    flex: none;                 /***pour que "nos pépites" soient sur la même ligne***/
    flex-direction: row;
    align-items: center;
    font-size: 17px;
    font-weight: 700;
    background-color: white;
    border: #d9d9d9 solid 2px;
    border-radius: 25px;
    gap: 10px;
    padding: 4px 19px;
}

.filter-info {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 30px 0;
    gap: 10px;
}


/****************************/
.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px 0 50px;
    box-sizing: border-box;
}

.site-subtitle {
    font-size: 16px;
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 35px;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}



/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}