/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}


body {
    display: flex;
    justify-content: center;
    margin: 0;
    max-width: 1440px;
}

/********* Header ***********/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo {
    width: 61.09px;
    height: 19px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.header-menu {
    display: flex;
}

.header-menu a {
    text-decoration-line: none;
    color: black;
}

.hebergements-link {
    padding-top: 16px;
    margin-right: 34.5px;
}

.activites-link {
    padding-top: 16px;
    margin-left: 34.5px;
    margin-right: 1px;
}

.text-link-color:hover {
    color: #0065FC;
}

.hebergements-link:hover {                     
    border-top: solid 2px #0065FC;
    cursor: pointer;
}

.activites-link:hover {
    border-top: solid 2px #0065FC;
cursor: pointer;
}


/***************************/
/*******Formulaire**********/

form {
    width: 377px;
    height: 49px;
    display: flex;
    border: none;
    margin-bottom: 50px;
}

[class="fas fa-map-marker-alt"] {
    width: 50px;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
    position: relative;
}

[class="fas fa-map-marker-alt"]::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.text-area {
    border: solid 1px #F2F2F2;
    border-right: none;
    width: 195px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: black;
    padding: 0;
}

.text-area::placeholder {
    font-size: 18px;
}

.research-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 132px;
    border: none;
    border-right: 15px;
    background-color: var(--main-color);
    color: white;
    font-size: 18px;
    font-weight: 700;
    border-radius: 0 15px 15px 0;
}

.search-icon {
    display: none;
}

/**********Filtres du formulaire**********/

.bar-filters {
    display: flex;
    gap: 2%;
    width: auto;
}

.filters-title {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    border: none;
}

.filter-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2%;
}

.filter-button {
    display: flex;
    flex: none;
    align-items: center;
    height: 50px;
    border: #d9d9d9 solid 2px;
    border-radius: 25px;
    padding: 4px 19px;
    font-size: 17px;
    background-color: white;
    font-weight: 700;
    gap: 10px;
}

.filter-button:hover {
    cursor: pointer;
    background-color: var(--filter-bg-color);
}

.filter-info {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0;
    gap: 10px;
}


/***********MAIN*****************/
.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px 0 50px;
    box-sizing: border-box;
}

.site-subtitle {
    font-size: 16px;
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 35px;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 42px;
    box-sizing: border-box;
}


/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 32% 32% 32%;
    column-gap: 1.3%;
    justify-content: space-between;
    margin-bottom: 30px;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-cards .card {
    margin-top: 33px; 
}

.hebergements-cards img {
    width: 100%;
    height: 119px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    font-size: 14px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-top: 5px;
    margin-bottom: 5px;
}

.afficher-plus-link {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 700;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    font-size: 14px;
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*****Activités******/

.activites-section {
    padding: 0 30px 0 30px
}

.activites-cards {
    display: flex;
    margin-bottom: 65px;
    gap: 30px;
}

.activites-cards .card {
    margin-top: 33px;
    padding: 0;
    width: 297.5px;
}

.activites-cards img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites-cards .card-title {
    padding-left: 19px;
}

.activites-cards .short-card-title {
    font-size: 16px;
    padding-left: 19px;
}

/********FOOTER*********/


.footer-menu {
    background-color: #F2F2F2;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
}

.footer-sub-menu {
    list-style-type: none;
    padding-left: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.footer-sub-menu li {
    padding-top: 15px;
}

.footer-title {
    font-size: 18px;
    font-weight: 700;
}

.footer-links {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .bar-filters {
        display: block;
    }

    .filter-buttons {
        display: flex;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-subtitle {
        font-size: 14px;
    }

    .activites-section {
        padding: 0;
    }

    .activites-section .section-title {
        padding-left: 30px;
    }

    .activites-cards {
        display: flex;
        padding: 0 30px 0 30px;
        margin-bottom: 65px;
        gap: 30px;
    }

    .activites-cards .card {
        display: flex;
        flex-direction: column;
    }

    .activites-cards img {
        height: 200px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .activites-cards .short-card-title {
        padding-left: 19px;
        padding-top: 5px;
    }

    .footer-menu {
        gap: 1%;
    }

}

/* Small devices (phones, less than 768px) */

@media (max-width: 767.98px) {

    .main-container {
        padding: 0;
    }

    /***************************/
    header {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 30px;
    }

    .header-menu {
        min-width: 375px;
        text-align: center;
    }

    .hebergements-link {
        width: 50%;
        padding-bottom: 15px;
        margin: 0;
    }

    .activites-link {
        width: 50%;
        padding-bottom: 15px;
        margin: 0;
    }

    .hebergements-link:hover {                     
        border-top: 0px;
        border-bottom: #0065FC solid 2px;
        cursor: pointer;
    }
    
    .activites-link:hover {
        border-top: 0px;
        border-bottom: #0065FC solid 2px;
        cursor: pointer;
    }
    
    /***************************/

    .sub-header {
        display: block;
        padding: 0 20px 0 20px;
    }

    form {
        width: 335px;
        margin-bottom: 30px;
    }

    .text-area {
        width: 236px;
    }

    .text-area::placeholder {
        text-indent: -50px;
    }

    .research-button {
        width: 49px;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: -5px;
    }

    .search-text {
        display: none;
    }

    .search-icon {
        display: flex;
    }

    .search-icon .fa-solid {
        color: white;
    }

    .filters-title {
        margin-top: 0;
    }

    .filter-buttons {
        width: 98%;
        white-space: nowrap;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
    }

    /***************************/

    .hebergements-and-populaires {
        flex-direction: column;
    }
    
    .hebergements-and-populaires section {
        border-radius: 0;
        margin-bottom: 0;
        margin-top: 15px;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .hebergements-and-populaires .hebergements {
        background-color: white;
    }

    .hebergements {
        order: 2;
    }

    .hebergements-cards {
        display: grid;
        grid-template-rows: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
        grid-template-columns: 100%;
        grid-template-areas:                         /*****pour changer l'ordre d'apparition des hôtels******/
        "card1"
        "card5"
        "card3"
        "card4"
        "card6"
        "card2";
    }

    .afficher-plus-link {
        position: relative;
        left: -10px;
    }

    .populaires {
        margin-top: 0;
        order: 1;
    }

    .populaires section {
        background-color: #F2F2F2;
    }

    .populaires-cards {
        display: block;
    }

    .populaires-cards .card {
        width: 96.9%;
    }

    .activites-section {
        padding: 25px 30px 35px 30px;
    }

    .activites-section .section-title {
        padding-left: 0;
    }

    .activites-cards {
        display: block;
        margin-bottom: 30px;
        padding: 0;
    }

    .activites-cards .card {
        width: 100%;
    }

    .activites-cards .card-title {
        margin-top: 15px;
    }


    /***************************/

    .footer-menu {
        display: block;
        padding-top: 15px;
    }

    .footer-sub-menu {
        padding: 0 0 30px 30px;
        margin-top: 0;
        margin-bottom: 0;
    }

}